/*! Made with Bones: http://themble.com/bones :) */

/******************************************************************
Site Name: Tema de Broove
Author: @brunoluizgr

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
 IMPORTANDO PARCIAIS
*********************/
// Normalize: http://necolas.github.io/normalize.css/
@import "parciais/normalize";

// VARIÁVEIS
@import "parciais/bibliotecas/variaveis";

// TIPOGRAFIA
@import "parciais/bibliotecas/tipografia";

// PADDING-MARGIN
@import "parciais/bibliotecas/padding-margin";

// FUNÇÕES SASS
@import "parciais/funcoes";

// MIXINS
@import "parciais/mixins";

/*********************
 IMPORTANDO MÓDULOS
*********************/

// ALERTAS
@import "modulos/alertas";

// BOTÕES
@import "modulos/botoes";

// FORMULÁRIOS (inputs & labels)
@import "modulos/formularios";


/*********************
STYLESHEETS (de acordo com o Bootstrap 3)
*********************/
// Custom, iPhone Retina
@media only screen and (min-width: 320px) and (max-width: 480px) {
	@import "breakpoints/320up";
}

// Extra Small Devices, Phones
@media only screen and (min-width: 481px) and (max-width: 768px) {
	@import "breakpoints/480up";
}

// Small devices (tablets, 768px and up)
@media only screen and (min-width: 769px) and (max-width: 992px) {
	@import "breakpoints/768up";
}

// Medium devices (desktops, 992px and up)
@media only screen and (min-width: 993px) and (max-width: 1200px) {
	@import "breakpoints/992up";
}

// Large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1201px) {
	@import "breakpoints/1200up";
}

// RETINA (2x RESOLUTION DEVICES) - This applies to the retina iPhone (4s) and iPad (2,3) along with other displays with a 2x resolution.
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

	@import "breakpoints/2x";

}

/*********************
PRINT STYLESHEET
*********************/
@media print {
	@import "parciais/print";
}
