/******************************************************************
Stylesheet: Variáveis
******************************************************************/

/*********************
CORES
*********************/
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;
$black:             #000;
$light-black:       #323944;
$white:             #fff;
$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$meta-gray:         #9fa6b4;
$tan:               #eceee5;
$green:             #7dd667;
$bones-pink:        #f01d4f;
$blue:              #2980b9;
$link-color:        $bones-pink;
$link-hover:        darken($link-color, 9%);
$border-color:      #ccc;
$disabled-gray:     #cfcfcf;

/*********************
 MINHAS CORES
*********************/

// Capa EP
$cor-capa-ep-1:rgba(244,239,231,1);
$cor-capa-ep-2:rgba(242,236,227,1);
$cor-capa-ep-3:rgba(240,233,222,1);
$cor-capa-ep: rgba(238,230,217,1);
$cor-capa-ep-4:rgba(203,178,138,1);
$cor-capa-ep-5:rgba(220,204,178,1);
$cor-capa-ep-6:rgba(185,152,99,1);

// Contra-capa EP
$cor-contracapa-ep: rgba(255,255,255,1);

// Fita EP
$cor-fita-ep-1:rgba(174,161,128,1);
$cor-fita-ep-2:rgba(158,142,103,1);
$cor-fita-ep-3:rgba(133,120,85,1);
$cor-fita-ep:rgba(108,97,69,1);
$cor-fita-ep-4:rgba(95,85,60,1);
$cor-fita-ep-5:rgba(81,73,52,1);
$cor-fita-ep-6:rgba(68,61,43,1);

// Miolo EP
$cor-fita-interna-ep-1:rgba(226,218,191,1);
$cor-fita-interna-ep-2:rgba(221,211,178,1);
$cor-fita-interna-ep-3:rgba(215,203,165,1);
$cor-fita-interna-ep:rgba(209,196,152,1);
$cor-fita-interna-ep-4:rgba(195,178,121,1);
$cor-fita-interna-ep-5:rgba(181,160,90,1);
$cor-fita-interna-ep-6:rgba(156,136,70,1);

// Escute EP
$cor-texto-1:rgba(39,39,39,1);
$cor-texto-2:rgba(169,169,169,1);
$cor-fundo:rgba(237,237,237,1);
